.Imain {
	width: 960px;
	height: 360px;
	margin: 10px 75px;
}

.articles { 
	width: 960px;
	margin: 0px 0px -35px 75px;
	overflow: auto;
}

.art {
	width: 290px;
	float: left;
}

.art:nth-child(2) {
	margin: 0px 45px;
}

.art img {
	width: 290px;
	height: 180px;
}

.art p {
	text-align: justify;
	margin-bottom: 0px;
}

h4 {
	color: #e39730;
	text-align: right;
	margin-top: 5px;
}

.art2 {
	width: 960px;
	margin-left: 75px;
}
.art2 p {
	margin-top: 8px;
	text-align: justify;
}
.art2 h4 {
	margin-bottom: 10px;
	margin-top: -10px;
}

.art2 * {
	margin: 0px;
}

body {
	margin: 0px;
}

#PAGE {
	margin: auto;
	width: 1110px;	
}


.BAR {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100px;
}

.hed{
	background-color: #5A5A5A;
	overflow: auto;
	padding: 10px;
	color: #c4c4cb;
}

.links{
    width: 33%;
    height: 20px;
    padding: 5px;
    margin-top: 25px;
	margin-right: 65px;
    float: right;
}


.links a{
	display: block;
	float: left;
	margin-left: 20px;
	color: inherit;
	text-decoration : inherit;
}

.name{
	width: 40%;
    margin-left: 65px;
    padding: 5px;
    float: left;
	font-size: 1.2em;
}

.name * {
	margin: 0px;
}

.end {
	background-color: #5A5A5A;
	padding: 20px 10px;
	overflow: auto;
	color: #c4c4cb;
}

.end .b1{
	float: left;
	margin-left: 65px;
}

.end .b2{
	float: right;
	margin-right: 65px;
}

#panel{
	width: 270px;
	height: 300px;
	background-color: #ddd;
	position: fixed;
	top: 100px;
	left: -260px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px dotted black;
	transition: All 1.2s ease;
	padding-left: 30px;
}