label {
    width: 175px;
    display: block;
    float: left;
}

textarea {
    min-width: 450px;
    min-height: 220px;
    max-width: 450px;
    max-height: 220px;
    resize: none;
}

input {
    margin-bottom: 3px;
}

input[type="number"] {
    width: 70px;
}

input[type="radio"], input[type="checkbox"] {
    margin-bottom: 5px;
}

._Req {
    color: red;
}